<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

       <!-- dataSource -->
       <bean id="targetDataSource" class="org.apache.commons.dbcp.BasicDataSource">
              <property name="username" value="${target.connection.username}"></property>
              <property name="password" value="${target.connection.password}"></property>
              <property name="url" value="${target.connection.url}"></property>
              <property name="driverClassName" value="${target.connection.driverClassName}"></property>
              <property name="initialSize" value="${connection.initialSize}"></property>
              <property name="maxActive" value="${connection.maxActive}"></property>
              <property name="maxIdle" value="${connection.maxIdle}"></property>
              <property name="minIdle" value="${connection.minIdle}"></property>
              <property name="maxWait" value="${connection.maxWait}"></property>
              <property name="removeAbandoned" value="${connection.removeAbandoned}"></property>
              <property name="removeAbandonedTimeout" value="${connection.removeAbandonedTimeout}"></property>
              <property name="logAbandoned" value="${connection.logAbandoned}"></property>
       </bean>

       <bean id="targetSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
              <property name="dataSource" ref="targetDataSource"></property>
              <property name="lobHandler" ref="defaultLobHandler"/>
              <property name="configLocation">
                     <value>classpath:mapping/SqlMapConfig.xml</value>
              </property>
              <property name="mappingLocations">
                     <list>
                            <value>classpath*:/mapping/target/*-sql.xml</value>
                     </list>
              </property>
       </bean>
       <bean class="org.oproject.framework.orm.ibatis.CustomizedSQLExecutor" init-method="init" lazy-init="false">
              <property name="nativeQuery" ref="nativeQueryForOracle" />
              <property name="sqlMapClient" ref="targetSqlMapClient"/>
       </bean>
       <bean id="sqlMapClientTemplateTarget" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
              <property name="sqlMapClient" ref="targetSqlMapClient"/>
       </bean>

       <!-- 事务 -->
       <bean id="targetTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="targetDataSource"/>
       </bean>
       <aop:config>
              <aop:pointcut id="targetDefaultTransactionalPointcut" expression="execution(* com.zhph.migration.DBMigration.startMigrate(..))" />
              <aop:advisor order="1" pointcut-ref="targetDefaultTransactionalPointcut" advice-ref="txAdviceForTransactionManager1"/>
       </aop:config>
       <tx:advice id="txAdviceForTransactionManager1" transaction-manager="targetTransactionManager">
              <tx:attributes>
                     <tx:method name="*"/>
              </tx:attributes>
       </tx:advice>
</beans>